
.topo{
    background-color: rgb(128, 128, 128); 
    width:500;
    height:500;

}
.form_fundo{
    background-color: #f7e07e;
}
.rodape{

    background-color: rgb(128, 128, 128);
    width:500;
    height:500;
}